* {
    font-family: "IBM Plex Sans", "IBM Plex Mono", sans-serif, monospace;
    color: #060a24;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

nav {
    text-align: right;
    line-height: 70px;
}

.logo {
    float: left;
    margin-left: 16px;
}

label {
    margin-right: 16px;
    font-size: 19px;
    display: none;
}

.menu label {
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    margin: 0 25px;
}

.menu a:active {
    color: rgb(48, 52, 78);
    text-decoration: line-through;
}

.menu a:hover {
    color: #00f3bb;
    text-decoration: line-through;
}

.toggle {
    display: none;
}

.toggle:checked + .menu {
    display: block;
}
.closing-menu {
    float: right;
    font-size: 35px;
    transform: rotate(45deg);
}

.main-bar {
    display: none;
}

.hello {
    margin: 29px 16px 16px 16px;
}

h1::after {
    content: ".";
    font-size: 28px;
    color: #0000ec;
}

p {
    font-family: "IBM Plex Mono", monospace;
    line-height: 24px;
}

h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.episodios h3,
.novedades h3 {
    color: #ffffff;
    margin: 70px 0 0 16px;
}

.episodios,
.novedades {
    padding: 40px 0 100px 0;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 163, 1) 14%,
        rgba(0, 0, 207, 1) 44%,
        rgba(0, 0, 255, 1) 74%
    );
}

.episodios,
.novedades {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sesgos {
    position: absolute;
    top: 0;
    left: 0;
}

.sesgo {
    border-width: 15vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.sesgo1 {
    bottom: 0;
    border-width: 0 0 15vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.iframes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    border: none;
}

iframe {
    border: none;
    background-color: transparent;
}

.episodios iframe {
    justify-self: center;
}

.nosotros img {
    position: relative;
    height: 519px;
    margin-top: -120px;
}

.nosotros h3,
.nosotros p {
    margin: 0 5% 5% 5%;
}

.parent img {
    width: 100%;
}

.wrap {
    display: flex;
    margin-top: 54px;
    flex-direction: column;
    align-items: center;
}

.parent-icons {
    display: grid;
    justify-content: center;
}

.parent-icons span {
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: bolder;
    font-size: 24px;
}

.novedades h3 {
    text-align: center;
    margin: 70px auto auto;
}

.novedades {
    padding-bottom: 0px;
}

h5 {
    text-align: center;
}

footer .iconos {
    display: flex;
    justify-content: space-around;
    margin: 16px 45px 16px 45px;
}
.boton,
.boton1 {
    text-align: center;
}
.btn,
.btn1 {
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #00f3bb;
    width: 226px;
    height: 56px;
    margin: 36px 16px 26px 16px;
}

.btn:hover,
.btn1:hover {
    color: white;
    background: linear-gradient(
        90deg,
        rgba(0, 240, 184, 1) 0%,
        rgba(0, 118, 220, 1) 21%,
        rgba(0, 0, 254, 1) 91%
    );
}

/* Media queries */

@media only screen and (max-width: 768px) {
    /* navbar */
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        position: absolute;
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        background-color: #0000ec;
        display: block;
        margin: 0;
        z-index: 1;
        color: white;
    }

    .main-bar {
        height: 70px;
        display: block;
    }

    .menu {
        top: 0;
        background-color: white;
    }
}

@media only screen and (min-width: 1024px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    h3 {
        margin: 50px 5px 0px 200px;
    }

    .wrap h3 {
        align-self: normal;
    }

    .hello {
        width: 628px;
        padding-left: 200px;
    }
    .boton {
        text-align: left;
    }

    .btn {
        margin-left: 0px;
    }

    .iframes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 72px;
        padding: 10px 100px 50px;
    }
    .iframes iframe {
        width: 500px;
        height: 232px;
    }

    .nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px 1fr 1fr;
        grid-template-areas:
            "sesgo sesgo"
            "img h3"
            "img p";
    }

    .nosotros img {
        grid-area: img;
        justify-self: center;
        margin-bottom: 64px;
    }

    .nosotros h3 {
        grid-area: h3;
        margin-top: 48px;
        margin-left: -30px;
    }

    .nosotros p {
        grid-area: p;
        margin-top: -100px;
        margin-left: -30px;
        padding-right: 65px;
    }

    .entrevistas .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .entrevistas img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }

    .parent-icons,
    footer {
        display: flex;
    }

    .parent-icons h3 {
        position: absolute;
        margin-left: 0px;
        font-weight: 400;
    }

    .parent-icons .wrap {
        margin: 130px 0px 0px 0px;
    }

    .parent-icons span {
        margin: 0 20px;
    }

    .topicos .wrap {
        z-index: 1;
    }

    footer {
        justify-content: space-between;
    }

    footer h5 {
        margin-left: 100px;
    }

    .iconos a {
        margin-left: 36px;
    }

    .iconos:last-child {
        margin-right: 100px;
    }
}

@media only screen and (min-width: 1430px) {
    .episodios h3 {
        margin-top: 95px;
    }
    .episodios h3,
    .wrap h3 {
        margin-left: 200px;
    }
}
